/* * {
    margin: 0;
    padding:0;
} */
.page-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* justify-content: flex-end; */
    /* background-color: blue; */
}
main {
    margin: 0 5%;
    padding-top: 2.5%;
    height: 90vh ;
    /* background-color: blue; */
}


a:focus,a:active{
    box-shadow: 0 0 10px 6px lightseagreen;
}
#homelink:focus,#homelink:active{
    box-shadow: 0 0 10px 6px rgb(116, 183, 180, 1);   
}
.hide {
    display: none;
}

@media screen and (max-width: 700px){
    header {
        padding: 10%;
    }
    header > h1 {
        font-size: 99%;
    }
    .tutorial > h3{
        font-size: 90% ;
    }
}