body{
    overflow-x: hidden;
}
main.main-container {
  display: flex;
  overflow-x: hidden;
  flex: 1;
  overflow-y: auto;
  flex-grow: 1;
}

/* Lessons */
.step {
    display: flex;
    justify-content: space-between;
}