@media screen and (max-width:720px) {
    /* Sidebar */
    .side-bar {
        width: var(--sidebar-width);
    }   
    .side-bar-links-ul {
        overflow-x: scroll;
        text-wrap: wrap;
        white-space: wrap;
        font-size: 90%;
    }
    .side-bar-links-ul li {
    }
    .side-bar-links-ul li a{ 
    }
}