.footer-header .main-links>a {
    padding: 10px 0;
    padding-right: 5%;
}
main {
    margin: 0 5%;
    padding-top: 2.5%;
}
.page-wrapper main {
    margin: 0 2.5%;
    padding: 0 2.5%;
    padding-left: 0;
}
.items-container {
    margin-right: 2%;
}

.items-container>.items {
    /* margin: 5% 0; */
}
.items > .item-container {
    padding: 1%;
    margin: 1%;
}